@font-face {
    font-family: pokemon;
    src: url(exportados/pokemon.ttf);
}

*{
    font-family: pokemon;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    height: 100%;
}

body {
    background-image: url(exportados/pxfuel\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#cabecalho {
    margin-top: 10px;
}

#container {
    height: 600;
    width: 500px;
    background-color: rgb(230, 67, 67);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 8px rgba(0, 0, 0, 0.267);
    margin: auto;
    margin-top: 4%;
    border: 1px solid black;
}

h1 {
    font-size: 1.3em;
    width: 200px;
    margin: auto;
}

h2 {
    font-size: 1em;
}

#tela {
    margin: auto;
    background-image: url(exportados/viridian.png);
    width: 97.81px;
    height: 97.81px;
    background-position: left;
    border-radius: 10%;
    border: 1px solid black;  
}

#nome {
    padding: 10px;
}

#butskills {
    margin: 5px 0px 5px 0px;
    background-color: rgb(31, 165, 255);
    height: 40px;
}

#stat {
    height: 40px;
    background-color: rgb(44, 201, 44);
    margin: 5px 0px 5px 0px;
}

#spin{
background-color: rgb(230, 233, 44);
margin: 5px 0px 5px 0px;
height: 40px;
}

#botoes {
    margin: 20px;
}

#paragrafos {
    height: 270px;
    background-color: white;
    width: 400px;
    margin: auto;
    border: 1px solid black;
}

#paragrafos p {
    text-align: center;
}